<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户的数据表</title>
    <script type="text/javascript" src="/ads/js/jquery.min.js"></script>
    <script type="text/javascript" src="/ads/js/echarts.min.js"></script>
    <style>
        body{
            background-color: rgb(240,240,240);
        }
        .charts input{
            border:none;
        }
    </style>
</head>
<body>
<div class="charts">
    {% for chart in user_charts %}
    <div id="chart_{{chart.id}}" style="height: 350px"></div>
    <div style="margin-bottom: 20px"><p style="text-indent: 2em;line-height: 25px">{{chart.decipherment}}</p></div>
    <script>
        let host = "http://127.0.0.1:5000/";
         $(
         function () {
             let charDiv = document.getElementById('chart_{{chart.id}}');
             let chart = echarts.init(charDiv, 'red', {render:'canvas'});
             $.ajax({
                 type:'GET',
                 url: host + 'trend/chart/{{chart.id}}/',
                 dataType: 'json',
                 success:function(result){
                     chart.setOption(result);
                 }
             });
         }
         )
    </script>
    <hr>
    {% endfor %}
</div>
</body>
</html>